@font-face {
  font-family: "iconfont"; /* Project id 5181028 */
  src: url('iconfont.woff2?t=1779623007187') format('woff2'),
       url('iconfont.woff?t=1779623007187') format('woff'),
       url('iconfont.ttf?t=1779623007187') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangjiantou:before {
  content: "\eb6d";
}

.icon-caogaoxiang:before {
  content: "\e64f";
}

.icon-caogaoxiang1:before {
  content: "\e618";
}

.icon-youjiantou:before {
  content: "\e601";
}

.icon-youjiantou1:before {
  content: "\e617";
}

.icon-xialajiantou:before {
  content: "\e60c";
}

.icon-xihuan:before {
  content: "\e63c";
}

.icon-cainixihuan:before {
  content: "\e652";
}

.icon-dianzan:before {
  content: "\e600";
}

.icon-dianzan1:before {
  content: "\e61c";
}

.icon-dianzan2:before {
  content: "\e65e";
}

.icon-browse:before {
  content: "\e6e0";
}

.icon-sousuo:before {
  content: "\e658";
}

.icon-sousuo1:before {
  content: "\e628";
}

.icon-zhinengjiqirenmoban:before {
  content: "\e65b";
}

.icon-wodedaiban:before {
  content: "\e627";
}

.icon-yanjing:before {
  content: "\e6d1";
}

.icon-touxiang:before {
  content: "\e6de";
}

.icon-jiqiren:before {
  content: "\e70e";
}

.icon-book-full:before {
  content: "\e895";
}

.icon-a-suishouji1:before {
  content: "\e637";
}

